.user-card-container {
	/* position: relative;
	display: flex;
	margin-bottom: 50px;
	background-color: grey;
	border-radius: 10px; */
	/* left: 1050px; */
	/* width: 1000px;
	height: 200px; */
	border: solid red;
}

.user-card-container .user-info {
	border: solid blue;
	display: flex;
	/* justify-content: center; */
	align-items: center;
}

.user-card-container .user-info .img-container {
	/* border: solid red; */
	width: 75px;
	height: 75px;
	border-radius: 50%;
}

.user-card-container .img-container img {
	width: auto;
	height: 100%;
}

/* Song section */
.user-card-container .song-info {
	border: solid thick green;
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
}

.user-card-container .song-info .img-container {
	border: solid thick pink;
	width: 75px;
    height: 75px;
    border-radius: 5px;
    /* border: solid red; */
    flex-shrink: 0;
}

.user-card-container .song-info .song-image img{
	width: auto;
	height: 100%;
}