nav {
    /* border: solid red; */
    padding: 3%;
    margin: 20px;
    /* margin-top: 0; */
    background-color: #e8e8e8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 825px;
}

nav div > * {
    /* border: solid red; */
    padding: 3%;
    margin: 10px 5px;
    text-align: center;
    font-size: 1.4rem;
}

nav .nav-link {
    /* border: solid red; */
    text-decoration: none;
}

nav .nav-link.active{
    border: solid black;
}
