.app {
    /* text-align: center; */
    border: solid black;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 100vh;
}

nav {
    grid-column: 1 / 4;
    grid-row: 1 / 13;
    /* position: sticky;
    top: 0; */
}

header {
    grid-column: 4 / 13;
    grid-row: 1 / 2;
    /* position: sticky;
    top: 0; */
}

main {
    grid-column: 4 / 13;
    grid-row: 2 / 13;
    overflow-y: auto;
    flex-grow: 1;
}

.img-container {
    /* border: solid red; */
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
}

.loading {
    /* background-color: gray; */
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.text.loading {
    /* background-color: blue; */
    border-radius: .125rem;
    width: 8em;
    height: 1em;
    margin: 5px 0;
}

.interactable {
    cursor: pointer;
}
