.app {
    /* text-align: center; */
    border: solid black;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 100vh;
}

nav {
    grid-column: 1 / 4;
    grid-row: 1 / 8;
    /* position: sticky;
    top: 0; */
}

header {
    grid-column: 4 / 13;
    grid-row: 1 / 2;
    /* position: sticky;
    top: 0; */
}

main {
    grid-column: 4 / 13;
    grid-row: 2 / 13;
    overflow-y: auto;
    flex-grow: 1;
}

.img-container {
    /* border: solid red; */
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
}
