.column {
    padding-left: 50px;
    float: left;
    width: 50%;
}

.song-details {
    flex-grow: 1;
}

.song-header {
    /* border: solid red; */
    display: flex;
    justify-content: center;
    /* flex-grow: 1; */
}

/*.song-details .song-img {
    /* border: solid red; 
    height: 175px;
    width: 175px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10%;
}*/

.song-details .song-img img {
    width: 300px;
    height: auto;
}

.song-name-container {
    align-self: flex-start;
    padding-left: 90px ;
}

.song-data {
    align-self: flex-start;
    padding-left: 80px ;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px; /* Add this line */
  }

.song-details .song-header .info {
    /* border: solid blue; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* flex-grow: 0.5; */
    min-width: 40%;
}

.song-details .song-header .info > * {
    margin: 5px 0;
}

.song-details .song-header .song-name {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    align-self: flex-start;
}

.song-details .song-header .song-data {
    display: flex;
    /* border: solid red; */
    justify-content: space-evenly;
    font-size: 1.2rem;
}

.song-details .song-header .song-data > * {
    margin: 0 10px;
}

.song-details .song-header .interactables {
    display: flex;
    align-items: center;
    /* border: solid green; */
    justify-content: space-evenly;
}

.spotify-profile-btn {
    /* border: solid red; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.spotify-profile-btn img {
    width: 100%;
    height: auto;
}

.song-details .main-content {
    margin: 70px;
}

.main-content{
    padding-left: 20px;
}

.sub-head{
    display: flex;
    justify-content: space-between;
}

.left-sub-head{
    padding-left: 170px;
}

.album{
    margin: 10px;
    padding-left:110px;
}

.right-sub-head{
    padding-right: 500px;
}

.interactables{
    padding-left: 80px;
    height: 50px;
}

.playlist-container .playlist-image-container img {
  width: 100px;
}

.spotifyconnect {
    padding-left: 80px;
}